body {
    font-family: Arial, sans-serif;
    background-image: url('bg.jpg');
    background-size: cover; 
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E201A;
    color: #FFD7BE;
    padding: 10px;
    background-image: none; 
    height:100px;
  }
  
.icon {
    width: 50px; 
    height: 50px; 
    margin-right: 20px;
    border-radius: 50%; 
    overflow: hidden;
}
  
 header h1 {
  margin: 0; 
  margin-left: 7px;
}

section {
    padding: 20px;
    margin: 20px auto;
    background-color: rgba(73, 54, 23, 0.8);
    border-radius: 10px;
    max-width: 800px;
}

section h2 {
    margin-top: 0;
    text-align: center;
    color: #FFD7BE;
}

section h3{
    color: #debb7b;
}

section p {
    color: #a2690e;
    text-align: center;
}

section .subject-block {
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgba(62, 32, 10, 0.8);
    border-radius: 5px;
    text-align: center;
}

section .subject-block h3 {
    margin-top: 0;
}

section .subject-block p {
    color: #a2690e;
    margin-bottom: 10px;
}

section .subject-block ul {
    list-style-type: none;
    padding: 0;
}

section .subject-block ul li {
    color: #a2690e;
    margin-bottom: 5px;
}

section .subject-block ul li a {
    color: #f2cb9fd0;
    text-decoration: none;
    transition: color 0.3s ease;
}

section .subject-block ul li a:hover {
    color: #f9efde;
}

section#about {
    background-color: rgba(62, 32, 10, 0.8);
    color: #debb7b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
}

.center {
    text-align: center;
}

.pdf-container {
    width: 80%;
    margin: 0 auto;
}

.download-link {
    display: block;
    margin-top: 10px;
}

.subject-block:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

a {
  color: #f2cb9fd0;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #f9efde;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .icon {
        margin-bottom: 10px;
    }

    .subject-block {
        padding: 10px;
        margin: 10px 0;
    }

    section {
        padding: 10px;
        margin: 10px auto;
    }

    .section .subject-block ul li {
        margin-bottom: 8px;
    }
}

@media (max-width: 480px) {
    section {
        padding: 5px;
        margin: 5px auto;
    }

    .subject-block {
        padding: 8px;
        margin: 8px 0;
    }

    .subject-block ul li {
        margin-bottom: 6px;
    }

    header h1 {
        font-size: 1.2em;
    }

    section h2 {
        font-size: 1.5em;
    }
}
