body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 20px;
    margin: 20px auto;
    background-color: #333;
    border-radius: 10px;
    max-width: 800px;
}

section h2 {
    margin-top: 0;
    text-align: center;
}

section p {
    color: #ccc;
    text-align: center;
}

section .subject-block {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #444;
    border-radius: 5px;
    text-align: center;
}

section .subject-block h3 {
    margin-top: 0;
}

section .subject-block p {
    color: #fff;
    margin-bottom: 10px;
}

section .subject-block ul {
    list-style-type: none;
    padding: 0;
}

section .subject-block ul li {
    margin-bottom: 5px;
}

section .subject-block ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

section .subject-block ul li a:hover {
    color: #bbb;
}

section#contact a {
    color: pink; /* Change link color to pink */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #444;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
